$pc: rgb(255, 81, 0);
$pc2: rgb(50, 190, 9);
$pc3: #3e3e3e;
$pc1text: rgb(240, 240, 240);
$pc2text: rgb(26, 26, 26);
$pc3text: rgba(255, 255, 255, 0.659);
$pc1header: rgb(248, 248, 248);
$hoverbc2: #e8e8e8;
$hoverpc1: #2d2d2d;
$bc4: #ffffff;
$bc1: #fefefeb8;
$bc2: #f1f0f0;
$bc3: #e4e4e4;
$bc4: #0f1016;
$bc5: #2f2f2f33;
$bc6: #44444433;
$sh1: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
$sh2: 0.4rem 0.3rem 0.8rem rgba(0, 0, 0, 0.09);
$sh3: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.597);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    background: $bc2;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

.Header_roll{
    background: $bc2;
    transition: all 0.5s;
    box-shadow: $sh2;
    h1{
        a{
            color: $pc3;
        }
    }
    nav{
        ul{
            li{
                a{
                    color: $pc3;
                    &:hover{
                        background: $hoverbc2;
                        color: $hoverpc1;
                        box-shadow: $sh1;
                    }
                }
            }
        }
    }
}

header{
    width: 100%;
    height: 70px;
    top: 0;
    transition: all 0.5s;
    position: fixed;
    display: flex;
    z-index: 1;
    padding: 1.5rem;
    background: transparent;
    align-items: center;
    align-content: center;
    h1{
        flex: 50%;
        a{
            color: $pc1header;
            font-weight: 800;
            font-size: 24px;
            font-family: sans-serif;
            text-decoration: none;
        }
    }
    nav{
        flex: 45%;
        display: flex;
        justify-content: space-evenly;
        ul{
            .dropdown{
                position: relative;
            }
            gap: 20px;
            display: flex;
            list-style-type: none;
            li{
                transition: all 0.4s ease-in-out;
                a{
                    text-decoration: none;
                    color: $pc1header;
                    font-size: 18px;
                    padding: 0.8rem 2.7rem;
                    border-radius: 0.3rem;
                    font-family: sans-serif;
                    transition: all 0.4s;
                }
            }
            .opcao-menu-header ul{
                position: absolute;
                z-index: -1;
                display: flex;
                gap: 0;
                text-align: center;
                flex-direction: column;
                background: $bc2;
                top: 2.8rem;
                left: 0;
                li{
                    text-align: center;
                    overflow: hidden;
                    width: 100%;
                    width: 200px;
                    .dpop{
                        padding: 0 4rem;
                        border-radius: 0;
                        width: 100%;
                        &:hover{
                            background: red;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

.destaque{
    padding: 0 1rem;
    background: $pc;
    font-weight: 800;
    font-family: 'afacad';
    font-style: italic;
    position: relative;
    font-size: 32px;
}
.destaque2{
    color: $pc;
    font-size: 22px;
}

.apresentacao{
    h1.slogan{
        visibility: hidden;
        color: $pc1text;
        font-weight: 800;
        font-size: 24px;
        margin: 0 0 0 30px;
        text-align: center;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/homewpp.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu{
    position: relative;
    padding: 1rem;
    h2{
        font-size: 24px;
        color: $pc2text;
        padding: 1.5rem 0;
        text-align: center;
        font-weight: 400;
        font-family: "Afacad";
        position: relative;
        
    }
    .Pizzas{
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        gap: 2rem;
        flex-grow: 1;
        align-content: center;
        justify-content: space-evenly;
        .card{
            display: flex;
            position: relative;
            flex-direction: column;
            cursor: default;
            align-items: center;
            width: 320px;
            height: fit-content;
            border-radius: 1rem;
            overflow: hidden;
            padding: 0px 0px 2rem 0 ;
            box-shadow: $sh2;
            cursor: pointer;
            transition: all 0.4s;
            &:hover{
                scale: 1.009;
            }
            &:hover img{
                filter: blur(3px);
            }
            &:hover .foto-nome h1{
                opacity: 1;
            }
            &:hover a::after{
                left: 0;
            }
            &:hover a{
                color: $pc1text;
            }
            img{
                width: 100%;
                height: 15rem;
                transition: all 0.5s;
                position: relative;
            }
            .foto-nome{
                padding: 0rem 2rem;
                top: 13%;
                width: 100%;
                position: absolute;
                text-align: center;
                h1{
                    font-family: "Afacad";
                    font-weight: 600;
                    transition: all 0.4s;
                    z-index: 2;
                    font-size: 3.5rem;
                    opacity: 0;
                    text-shadow: $sh3;
                    color: $pc1text;
                }
            }
            .descricao{
                h1{
                    font-size: 16px;
                }
                display: flex;
                flex-direction: column;
                padding: 3rem 2rem 1rem 2rem;
                gap: 20px;
                .ingredientes{
                    padding: 0 1.5rem;
                    display: flex;
                    flex-direction: column;
                    font-size: 18px;
                }
                h4{
                    position: absolute;
                    right: 10%;
                    color: $pc2text;
                }
            }
            a{
                position: relative;
                margin: 1rem 0;
                cursor: pointer;
                overflow: hidden;
                padding: 1rem 2rem;
                border-radius: 0.5rem;
                width: fit-content;
                font-size: 19px;
                font-weight: 500;
                font-family: "Afacad";
                border: 1px solid $pc;
                color: $pc2text;
                text-decoration: none;
                transition: all 0.6s;
                &::after{
                    content: '';
                    position: absolute;
                    background: $pc;
                    height: 250%;
                    width: 100%;
                    top: -2.5rem;
                    left: -12rem;
                    display: block;
                    transition: all 0.8s;
                    z-index: -1;
                    transform: rotate(45deg);
                }
            }
        }
    }    
}

#contato{
    background: $bc4;
    color: $pc3text;
    text-align: center;
    h3{
        font-family: "afacad";
        font-weight: 400;
    }
    h6{
        font-weight: 100;
    }
    .redes-footer{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        color: $pc1text;
        nav{
            ul{
                margin: 0.5rem 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                justify-content: center;
                gap: 1rem;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        width: 130px;
                        color: $pc1text;
                        border-radius: 0.5rem;
                        padding: 0.5rem 0;
                        font-size: 14px;
                        text-decoration: none;
                        background: $bc5;
                        transition: all 0.5s;
                        &:hover{
                            background: $bc6;
                        }
                    }
                }
            }
            button{
                width: fit-content;
                padding: 0.4rem 2rem;
                border: none;
                background: purple;
                color: $pc1text;
                font-style: italic;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: all 0.5s;
                &:hover{
                    background: rgb(183, 0, 183);
                }
            }
        }
    }
}

@media (max-width: 1068px){
    header{
        height: 175px;
        overflow: hidden;
        flex-direction: column;
        gap: 30px;
        h1{
            font-size: 24px;
        }
        nav{
            ul{
                li{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 568px) {
    .apresentacao{
        width: 100%;
    }
    header{
        height: 80px;
        padding: 2rem 0;
        gap: 0;
        h1{
            font-size: 22px;
        }
        nav{
            ul{
                gap: 0;
                li{
                    a{
                        padding: 1rem 2rem;
                        display: flex;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: white;
    height: 102px;
}

::-webkit-scrollbar-track-piece{
    background: grey;
}